@import url(https://fonts.googleapis.com/css?family=Raleway);@charset "UTF-8";

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova-regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/fonts/proximanova-bold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("/fonts/proximanova-semibold.woff") format("woff");
}

.slider-area {
  color: #fff;
  position: relative;
  text-align: center;
}

.slider-content {
  padding: 180px 60px;
}

.nivo-caption::after {
  background: #444 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.layer-1-2 {
  margin: 20px 0;
}

.layer-1-2 h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.layer-1-1 h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.layer-1-3 {
  margin: 50px 0 0;
}

.layer-1-3 a.ready-btn {
  border: 1px solid #fff;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 222;
}

.layer-1-3 a.ready-btn:hover {
  color: #fff;
  background: #d51100;
  border: 1px solid #d51100;
  text-decoration: none;
}

.ready-btn.right-btn {
  margin-right: 15px;
  background: #d51100;
  border: 1px solid #d51100 !important;
}

.ready-btn.right-btn:hover {
  background: transparent !important;
  border: 1px solid #fff !important;
}

.nivo-controlNav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 8;
}

.nivo-directionNav {
  display: block;
}

.nivo-controlNav a {
  background: transparent none repeat scroll 0 0;
  border: 4px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  font-size: 0;
  height: 2px;
  margin: 5px 3px;
  opacity: 1;
  text-align: center;
  text-indent: inherit;
  vertical-align: top;
  width: 20px;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.nivo-controlNav a:hover,
.nivo-controlNav a.active {
  background: #fff none repeat scroll 0 0;
  border-color: #d51100;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* Normal desktop :992px. */

@media (min-width: 1400px) and (max-width: 1920px) {
  .slider-content {
    padding: 340px 0;
  }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 144px 0;
  }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .slider-content {
    padding: 93px 0;
  }

  .layer-1-1 h1 {
    font-size: 22px;
    line-height: 24px;
  }

  .layer-1-3 a.ready-btn {
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .nivo-directionNav {
    display: none;
  }

  .slider-content {
    padding: 46px 0px;
  }

  .layer-1-2 {
    margin: 10px 0;
  }

  .layer-1-2 h2 {
    font-size: 14px;
    line-height: 16px;
  }

  .layer-1-1 h1 {
    font-size: 14px;
    line-height: 16px;
  }

  .layer-1-3 a.ready-btn {
    font-size: 12px;
    margin-top: 10px;
    padding: 8px 10px;
  }

  .layer-1-3 {
    margin: 10px 0 0;
  }

  .nivo-controlNav {
    bottom: -8px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .slider-content {
    padding: 70px 0px;
  }

  .layer-1-1 h1,
  .layer-1-2 h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

/* -------------------------------------
preview-1
---------------------------------------- */

.nivoSlider {
  max-height: 500px;
}

.nivo-main-image {
  height: auto !important;
}

.preview-1 .nivoSlider {
  position: relative;
  background: url("/frontend/lib/nivo-slider/img/loading.gif") no-repeat 50% 50%;
}

.preview-1 .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.preview-1 .nivoSlider a {
  border: 0;
  display: block;
}

.preview-1 .nivo-controlNav {
  text-align: center;
  padding: 20px 0;
}

.preview-1 .nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("/frontend/lib/nivo-slider/img/bullets.png") no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
}

.preview-1 .nivo-controlNav a.active {
  background-position: 0 -22px;
}

.preview-1 .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url("/frontend/lib/nivo-slider/img/arrows.png") no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.preview-1:hover .nivo-directionNav a {
  opacity: 1;
}

.nivo-prevNav {
  left: 15px;
}

.nivo-nextNav {
  right: 15px;
}

.preview-1 a.nivo-nextNav {
  background-position: -30px 0;
}

.preview-1 .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

.preview-1 .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

.preview-1 .nivo-caption a:hover {
  color: #fff;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}

.preview-1 .nivo-controlNav {
  position: relative;
  z-index: 99999;
  bottom: 68px;
}

.preview-1 .nivo-controlNav a {
  border: 5px solid #fff;
  display: inline-block;
  height: 18px;
  margin: 0 5px;
  text-indent: -9999px;
  width: 18px;
  line-height: 8px;
  background: #3c3c3c;
  cursor: pointer;
  position: relative;
  z-index: 9;
  border-radius: 100%;
  opacity: 0;
  z-index: -999;
}

.preview-1:hover .nivo-controlNav a {
  opacity: 1;
  z-index: 999999;
}

.preview-1 .nivo-controlNav a:hover,
.preview-1 .nivo-controlNav a.active {
  background: #000;
  cursor: pointer;
}

/* -------------------------------------
preview-2
---------------------------------------- */

.preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-prevNav {
  left: 50px;
}

.preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-nextNav {
  right: 50px;
}

.preview-2 .nivoSlider .nivo-directionNav a.nivo-prevNav {
  font-size: 0;
}

.preview-2 .nivoSlider .nivo-directionNav a.nivo-nextNav {
  font-size: 0;
}

.preview-2 .nivo-directionNav a.nivo-prevNav::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ffffff;
  content: "\F104";
  cursor: pointer;
  font: 300 50px/50px FontAwesome;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  z-index: 9;
  font-weight: 100;
  left: 0px;
  width: 50px;
  border: 1px solid #fff;
  border-bottom-left-radius: 60%;
  border-top-right-radius: 60%;
  font-size: 30px;
  height: 55px;
}

.preview-2 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-2 .nivo-directionNav a.nivo-prevNav:hover:before {
  border-color: #d51100;
  color: #fff;
  background: #d51100;
}

.preview-2 .nivo-directionNav a.nivo-nextNav::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  color: #ffffff;
  content: "\F105";
  cursor: pointer;
  font: 100 30px/50px FontAwesome;
  height: 50px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 50%;
  -webkit-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  width: 50px;
  z-index: 9;
  font-size: 30px;
  height: 55px;
}

.niceties.preview-2 {
  position: relative;
  height: 100%;
}

html,
body {
  height: 100%;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 15px;
  color: #444;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #d51100;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0 none;
}

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #d51100;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  right: 15px;
  bottom: 15px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  z-index: 9;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #d51100;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #e83328;
  color: #fff;
}

.clear {
  clear: both;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
input[type="text"],
input[type="date"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
button,
button[type="submit"] {
  -moz-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("/frontend/img/preloader.gif") no-repeat center center;
}

::-moz-selection {
  background: #d51100;
  text-shadow: none;
}

::selection {
  background: #d51100;
  text-shadow: none;
}

.area-padding {
  padding: 70px 0px 80px;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize !important;
}

.section-headline h2::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*--------------------------------*/

/*  2. Header top Area
/*--------------------------------*/

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
  padding: 15px 0;
}

.main-menu ul.navbar-nav li {
  display: block;
  padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active a.page-scroll::after {
  border: 1px solid #fff;
  bottom: 20px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #fff;
}

.main-menu ul.navbar-nav li.active a:focus {
  color: #fff;
}

.main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  position: relative;
}

.main-menu ul.navbar-nav li a:hover {
  color: #d51100;
}

.navbar {
  border: medium none;
  margin-bottom: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #d51100;
}

.navbar-default .navbar-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  padding: 25px 0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #d51100;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(24, 24, 24, 0.9);
  width: 30px;
  height: 3px;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.top-right.text-right {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 20px;
}

.top-right.text-right > li {
  float: right;
  margin: 0px 8px;
}

.top-right.text-right li a {
  color: #fff;
}

.item-parent {
  text-align: center;
}

img.item-icon,
img.item-flag {
  width: 30px;
  margin-right: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
}

img.item-icon {
  width: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.dropdown-subitem {
  padding: 18px 0px;
}

/*--------------------------------*/

/* 2.1. Stick menu
/*--------------------------------*/

.header-area.stick {
  background-color: white;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  -webkit-box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
          box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
}

.stick .navbar-brand > img {
  display: none;
}

.stick .navbar-brand.sticky-logo > img {
  display: block;
}

.sticky-logo h1 {
  color: #0e2232;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.sticky-logo h1 span {
  color: #d51100;
}

.stick .main-menu ul.navbar-nav li.active a.page-scroll::after {
  border: 1px solid #d51100;
  bottom: 20px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.stick .main-menu ul.nav > li > a:hover {
  color: #d51100;
}

.stick .main-menu ul.navbar-nav li.active a.page-scroll {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #d51100;
  position: relative;
}

.stick .mainmenu ul#nav > li:hover > a,
.stick .mainmenu ul#nav li .mega-menu,
.stick .mainmenu ul#nav li ul.sub-menu {
  background-color: #f5f5f5;
  color: #fff;
  outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover,
.mainmenu ul#nav li .mega-menu span > a:hover,
.stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
  color: #fff;
}

.stick .logo a {
  margin-top: 0px;
}

.stick .main-menu ul.nav > li > a {
  color: #0e2232;
  line-height: 22px;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.stick .navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(24, 24, 24, 0.9);
  width: 30px;
  height: 3px;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.stick .navbar-default .navbar-toggle {
  padding: 10px 0px;
}

/*------------------------------
  3. About Area
--------------------------------*/

.about-area {
  background-color: #f9f9f9;
}

.single-well > a {
  display: block;
}

.single-well ul li {
  color: #444;
  display: block;
  padding: 5px 0;
}

.single-well ul li i {
  color: #d51100;
  padding-right: 10px;
  font-size: 12px;
}

.single-well p {
  color: #444;
}

/*--------------------------------*/

/* 4.Services Area
/*--------------------------------*/

.services-icon {
  color: #444;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.section-headline.services-head > h2 {
  margin-bottom: 25px;
}

.services-details {
  padding-top: 40px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services-details:hover h4,
.services-details:hover .services-icon {
  color: #d51100;
}

.row.second-row {
  margin-top: 40px;
}

.section-head > h2 {
  color: #333;
}

.single-services > h4 {
  color: #444;
  font-size: 24px;
  font-weight: 500;
}

.single-services > p {
  color: #333;
  font-size: 14px;
}

/*----------------------------------------
  5.Skill Area
----------------------------------------*/

.our-skill-area {
  position: relative;
}

.our-skill-area {
  background: rgba(248, 248, 248, 0.8) url("/frontend/img/background/bg1.jpg") no-repeat fixed center top/cover;
}

.test-overly {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress-h4 {
  color: #fff;
  font-weight: 500;
}

/*----------------------------------------
  6.Faq Area
----------------------------------------*/

.faq-details .panel-heading {
  padding: 0;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border: medium none;
  color: #333;
}

.faq-details h4.check-title a {
  color: #333;
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 40px;
  padding: 6px 10px;
  text-decoration: none;
}

.panel-body {
  padding: 15px 15px 0px 50px;
}

.faq-details h4.check-title {
  color: #444;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.faq-details a span.acc-icons {
  position: relative;
}

.faq-details a span.acc-icons::before {
  color: #333;
  content: "\F105";
  font-family: fontawesome;
  font-size: 24px;
  height: 40px;
  left: -51px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 42px;
}

.faq-details h4.check-title a.active,
.faq-details a.active span.acc-icons::before {
  color: #d51100;
}

.faq-details a.active span.acc-icons::before {
  content: "\F107";
  font-family: fontawesome;
  font-size: 24px;
  height: 40px;
  left: -51px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 42px;
}

.second-row {
  margin-top: 30px;
}

.event-content.head-team h4 {
  background: transparent none repeat scroll 0 0;
  color: #333;
  padding: 30px 0 10px;
  font-weight: 500;
  text-transform: capitalize;
}

.tab-menu .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.tab-menu {
  display: block;
  text-align: center;
}

.tab-menu ul.nav {
  margin: 0;
  padding: 0;
}

.tab-menu ul.nav li {
  border: medium none;
  display: inline-block;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 0 15px 15px;
}

.tab-menu ul.nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  color: #444;
  display: block;
  font-weight: 500;
  margin-right: 5px;
  padding: 10px 20px;
  font-family: raleway;
  font-size: 18px;
}

.tab-menu ul li.active a,
.tab-menu ul li.hover a,
.tab-menu ul li.focus a {
  border-bottom: 1px solid #fff;
  color: #d51100 !important;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.tab-menu .nav-tabs {
  border-bottom: none;
}

.tab-main-img a {
  position: relative;
  display: block;
}

.tab-main-img a:hover span.events-offer {
  height: 20%;
}

.tab-main-img a span.events-offer {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  content: "";
  font-size: 20px;
  font-weight: 700;
  height: 0%;
  left: 0;
  line-height: 70px;
  padding: 0;
  position: absolute;
  text-align: left;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  padding: 0px 10px;
}

/*----------------------------------------
 7.Wellcome Area Css
----------------------------------------*/

.wellcome-area {
  background: rgba(248, 248, 248, 0.8) url("/frontend/img/background/bg1.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.well-bg {
  position: relative;
}

.wellcome-text {
  margin: 70px 0;
  padding: 30px 40px;
}

.well-text > h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
  line-height: 50px;
}

.well-text p {
  font-size: 18px;
  font-style: italic;
  color: #fff;
}

.wellcome-text .section-headline p {
  margin-bottom: 0;
}

.subs-feilds {
  border: 1px solid #fff;
  display: inline-block;
  height: 52px;
  margin-top: 30px;
  width: 60%;
  border-radius: 30px;
  overflow: hidden;
}

.suscribe-input input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: left;
  font-size: 15px;
  line-height: 24px;
  padding: 11px 15px;
  width: 70%;
  height: 50px;
}

.suscribe-input button {
  background: #d51100 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 20px;
  width: 30%;
}

.suscribe-input button:hover {
  background: #fff none repeat scroll 0 0;
  color: #d51100;
}

/*----------------------------------------
 8.Team Area Css
----------------------------------------*/

.team-member {
  background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
  display: block;
  margin-right: -15px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.team-member::before {
  background: rgba(0, 0, 0, 0) url("/frontend/img/team/team01.jpg") repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin-right: -15px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-member:hover.team-member::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-team-member {
  border: 1px solid #ddd;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  margin-bottom: 30px;
}

.team-left-text h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.team-left-text p {
  color: #fff;
  font-size: 17px;
  line-height: 26px;
}

.team-img img {
  height: 300px;
  max-width: none;
}

.email-news {
  display: block;
  margin: 30px 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.email-news .email_button input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  float: left;
  font-size: 13px;
  padding: 8px;
  width: 81%;
}

.email-news .email_button > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
}

.email-news .email_button > button:hover {
  background: #d51100;
  border: 1px solid #fff;
  color: #fff;
}

.team-left-icon ul li {
  display: inline-block;
}

.team-left-icon ul li a:hover {
  color: #d51100;
  background: #fff;
  border: 2px solid #fff;
}

.team-left-icon ul li a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 37px;
  margin: 0 3px;
  width: 40px;
}

.team-member-carousel .single-team-member {
  overflow: hidden;
  width: 100%;
}

.single-team-member:hover .team-img a:after {
  opacity: 1;
}

.single-team-member:hover .team-social-icon {
  top: 45%;
  opacity: 1;
}

.single-team-member.active h4,
.single-team-member.active p,
.single-team-member:hover h4,
.single-team-member:hover p {
  color: #d51100;
}

.single-team-member a:focus,
.single-team-member a:hover {
  text-decoration: none;
  color: #d51100;
}

.team-img {
  position: relative;
  border-top-left-radius: 60px;
  overflow: hidden;
}

.team-img > a {
  display: block;
}

.team-social-icon {
  left: 50%;
  margin-left: -61px;
  opacity: 0;
  position: absolute;
  top: 30%;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.team-social-icon ul li {
  display: inline-block;
}

.team-social-icon ul li a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 35px;
  margin: 0 3px;
  width: 34px;
}

.team-social-icon ul li a:hover {
  color: #fff;
  border: 1px solid #d51100;
  background: #d51100;
}

.team-content {
  padding: 10px 0px;
}

.team-content > h4,
.team-content > p {
  color: #444;
  margin-bottom: 5px;
}

.team-content.head-team p {
  margin-bottom: 0;
}

.team-left-icon.text-center {
  margin-bottom: 20px;
}

.head-team h4 {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase;
}

/*--------------------------------*/

/*  9.review Area
/*--------------------------------*/

.reviews-area {
  background: url("/frontend/img/background/bg1.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
}

.work-left-text {
  background: #d51100 none repeat scroll 0 0;
}

.work-left-text {
  width: 50%;
}

.work-right-text {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  float: right;
  height: 100%;
  overflow: hidden;
  padding: 71px 0;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.work-right-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.work-right-text h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}

.work-right-text .sus-btn {
  margin-left: 0;
  margin-top: 20px;
}

.single-awesome-4 {
  display: block;
  float: left;
  overflow: hidden;
  width: 33.33%;
}

.single-awesome-4 .add-actions {
  padding: 10px 20px;
}

/*----------------------------------------
 10.Portfolio Area Css
----------------------------------------*/

.pst-content {
  padding-left: 10px;
}

.project-menu {
  margin-bottom: 40px;
  text-align: center;
}

.project-menu li {
  display: inline-block;
}

.project-menu li a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #444;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  padding: 6px 15px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.project-menu li a.active,
.project-menu li a:hover {
  border-color: #d51100;
  background: #d51100;
  color: #fff;
  text-decoration: none;
}

.single-awesome-portfolio {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 25%;
  position: relative;
}

.single-awesome-project {
  margin-bottom: 30px;
}

.first-item {
  margin-bottom: 30px;
}

.awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.awesome-img > a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.a-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.single-awesome-project:hover .awesome-img > a::after {
  opacity: 1;
}

.single-awesome-project:hover .add-actions {
  opacity: 1;
}

.awesome-img > a::after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 0px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  padding: 10px 15px;
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
}

.add-actions-2 {
  background: rgba(100, 100, 100, 0.5) none repeat scroll 0 0;
}

.project-dec {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec a {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec .center-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.project-dec .center-div img {
  width: 50px;
}

.project-dec .center-div h4:hover {
  color: #fff;
}

.project-dec .center-div h4 {
  color: #ddd;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
}

.project-dec .center-div span {
  color: #ddd;
  font-size: 15px;
}

.project-action-btn {
  display: block;
  height: 100%;
  text-align: center;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  width: 100%;
}

.project-action-btn li {
  display: block;
  height: 100%;
  width: 100%;
}

.project-action-btn li a {
  display: block;
  height: 100%;
  width: 100%;
}

/*----------------------------------------*/

/* 11. Pricing Area
/*----------------------------------------*/

.pricing-area {
  background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}

.pri_table_list {
  border: 1px solid #ccc;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #fff;
}

.pri_table_list h3 span {
  font-size: 16px;
}

.pri_table_list ol li {
  border-bottom: 1px solid #ccc;
  color: #666;
  padding: 12px 15px;
  position: relative;
  text-align: left;
}

.pri_table_list li.check.cross::after {
  content: "\F00D";
  font-family: fontawesome;
  font-size: 14px;
  position: absolute;
  right: 50px;
  top: 12px;
  color: indianred;
}

.pri_table_list li.check::after {
  content: "\F00C";
  font-family: fontawesome;
  font-size: 14px;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #38c172;
}

.pri_table_list button {
  background: #444 none repeat scroll 0 0;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 25px;
  padding: 10px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 30px;
}

.pri_table_list > h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  padding: 30px 0 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.pri_table_list ol {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 25px;
}

.pri_table_list.active {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  overflow: hidden;
}

.saleon {
  background: #d51100 none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  left: -26px;
  padding: 2px 25px;
  position: absolute;
  text-transform: uppercase;
  top: 16px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.pri_table_list > button:hover {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}

.active > h3 {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #333;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.active > button {
  background: #d51100 none repeat scroll 0 0;
  border: 1px solid #d51100;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active > button:hover {
  background: #333 none repeat scroll 0 0;
  border: 1px solid #333;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*----------------------------------------
 12.Testimonial Area Css
----------------------------------------*/

.testimonials-area {
  background: rgba(0, 0, 0, 0) url("/frontend/img/background/slider1.jpg") no-repeat fixed center top/cover;
  height: auto;
  width: 100%;
}

.testi-inner {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.testi-overly {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.quate {
  border: 1px dotted #fff;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  width: 70px;
}

.quate:hover {
  color: #fff;
}

.testi-img img {
  border: 1px dotted rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  -webkit-transition: background 0.6s ease-out 0s;
  transition: background 0.6s ease-out 0s;
  width: 80px !important;
}

.testi-text p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  margin: 20px 0;
  letter-spacing: 1px;
}

.testi-text h6 {
  color: #fff;
  font-size: 20px;
}

.owl-dots button.owl-dot > span {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 8px;
  width: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.owl-dots {
  bottom: -30px;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
}

.testimonial-content {
  margin-bottom: 15px;
}

.owl-dots button.owl-dot {
  display: inline-block;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active span {
  background: #d51100;
}

.testi-text.text-center > h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.guest-rev {
  color: #ddd;
  font-size: 16px;
}

.guest-rev > a {
  color: #d51100;
  font-size: 14px;
}

/*--------------------------------*/

/*  13.Blog Area
/*--------------------------------*/

.blog-area {
  height: auto;
  width: 100%;
}

.blog-text h4 a {
  color: #444;
  text-decoration: none;
}

.blog-text h4 {
  color: #444;
  margin-bottom: 15px;
}

.blog-btn {
  border-bottom: 1px dotted #444;
  color: #444;
  text-decoration: none;
}

.blog-btn {
  border-bottom: 1px dotted #444;
  color: #444;
  display: inline-block;
  padding: 0 1px 5px 0;
  position: relative;
  text-decoration: none;
}

.blog-btn {
  position: relative;
}

.blog-btn::after {
  content: "\F178";
  font-family: fontawesome;
  position: absolute;
  right: -20px;
  top: 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-btn:hover::after {
  right: -30px;
}

.blog-btn:hover {
  color: #333;
  text-decoration: none;
}

.blog_meta span.date_type i {
  margin-left: 5px;
}

.blog-meta span.comments-type {
  margin-left: 5px;
}

.blog-meta span i {
  padding-right: 10px;
}

.blog-content .blog-meta {
  border-bottom: 1px dotted #333;
}

.blog-meta {
  border-bottom: 1px dotted #fff;
  padding: 10px 0;
}

.comments-type > a,
.date-type,
.blog-meta span.comments-type {
  color: #333;
  letter-spacing: 1px;
  margin-right: 5px;
}

.blog-meta .comments-type i {
  padding-right: 0 !important;
}

.blog-content-right .comments-type > a,
.blog-content-right .date-type,
.blog-content-right .blog-meta span.comments-type,
.blog-content-right .blog-text p {
  color: #fff;
  letter-spacing: 1px;
}

.single-blog {
  margin-bottom: 35px;
}

.single-blog .ready-btn {
  border: 1px solid #444;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.single-blog .ready-btn:hover {
  border: 1px solid #d51100;
  color: #fff;
}

.singleSlider {
  max-height: 300px;
  min-height: 300px;
}

.team-content {
  margin-top: 20px;
}

.team-content h2 {
  margin-bottom: 0px;
}

.team-content h3 {
  color: #d51100;
}

/*------------------------------
  13. Quote area
--------------------------------*/

.suscribe-area {
  background: #d51100 none repeat scroll 0 0;
  padding: 30px 0;
}

.suscribe-text {
  display: block;
  padding: 10px 0;
}

.suscribe-text h3 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sus-btn {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #d51100;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 100px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.sus-btn:hover {
  background: #d51100 none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #fff;
}

/*--------------------------------*/

/*  14.Contact Area
/*--------------------------------*/

.contact-area {
  height: auto;
  width: 100%;
}

.contact-content {
  padding: 100px;
  background: #000 none repeat scroll 0 0;
}

.contact-content-right {
  padding: 100px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  color: #444;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  outline: none;
  padding: 8px 20px;
}

.contact-form textarea {
  color: #444;
  height: 140px;
  padding: 20px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  outline: none;
  padding: 8px 20px;
}

.contact-form button[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  padding: 12px 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.contact-form button[type=submit]:disabled {
  color: #fff;
  border: 1px solid #aaa;
  background: #aaa;
}

.contact-form button[type=submit]:enabled:hover {
  color: #fff;
  border: 1px solid #d51100;
  background: #d51100;
}

.contact-form #sendmessage {
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form #sendmessage.show,
.contact-form #errormessage.show,
.contact-form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

.single-icon i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  line-height: 46px;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
  margin-bottom: 20px;
}

.single-icon p {
  font-size: 16px;
  line-height: 30px;
}

.contact-icon {
  margin-bottom: 40px;
}

#google-map {
  height: 370px;
  margin-bottom: 20px;
}

.area {
  margin-top: 10px;
}

.area-item h1.section-title {
  font-size: 25px;
  line-height: 50px;
}

.area-item .content {
  font-size: 14px;
  margin: 5px 0px;
}

.area-item {
  margin-bottom: 10px;
}

.area-item h1 {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 20px;
}

.area-item-wrapper {
  min-height: 82px;
}

/*----------------------------------------*/

/*  15. Footer Area
/*----------------------------------------*/

.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
}

.footer-head p {
  color: #444;
}

.footer-head .links li {
  padding-bottom: 5px;
}

.footer-head .links li a {
  letter-spacing: 1px;
  color: #444;
}

.footer-head .links li a:hover {
  color: #d51100;
}

.footer-head h4 {
  color: #444;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-logo h2 {
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.footer-logo h2 span {
  color: #d51100;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.flicker-img > a {
  float: left;
  padding: 1px;
  width: 33.33%;
}

.footer-icons {
  margin-top: 30px;
}

.footer-contacts p span {
  color: #d51100;
  font-weight: 700;
}

.footer-contacts p span {
  padding-left: 23px;
}

.footer-contacts .fa {
  font-size: 14px;
  display: inline-block;
  padding-right: 12px;
  float: left;
  line-height: 24px;
  width: 24px;
}

.popular-tag ul li {
  display: inline-block;
}

.footer-content {
  display: block;
}

.popular-tag ul li a:hover,
.footer-icons ul li a:hover {
  background: #d51100;
  border: 1px solid #d51100;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}

.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #d51100;
}

.copyright-text a {
  color: #444;
}

.copyright > p {
  margin-bottom: 0;
  color: #444;
}

.copyright a,
.credits a {
  color: #d51100;
}

.credits {
  padding-top: 5px;
  text-align: center;
}

/*----------------------------------------*/

/*  16.Home Page 2  CSS
/*----------------------------------------*/

.header-bg {
  background: url("/frontend/img/slider/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.header-bg.home-2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-overly {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
}

.home-2 .layer-1-3,
.home-3 .layer-1-3 {
  margin: 10px 0 0;
}

/*----------------------------------------*/

/*  17.Home Page 3  CSS
/*----------------------------------------*/

.home-video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header-image.home-3 {
  width: 100%;
  height: 100%;
  position: relative;
}

.table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

/*----------------------------------------
  18. Blog page
----------------------------------------*/

.page-area {
  position: relative;
}

.blog-page .banner-box {
  margin-bottom: 40px;
}

article.blog-post-wrapper {
  margin-top: -100px;
  background: #fff;
  z-index: 9;
  position: relative;
  padding: 10px 40px;
  border-top-left-radius: 100px;
}

.search-option input {
  border: medium none;
  padding: 6px 15px;
  width: 80%;
}

.search-option {
  border: 1px solid #ccc;
  height: 42px;
  margin-bottom: 30px;
}

.search-option button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  font-size: 20px;
  padding: 8px 23px;
}

.search-option button:hover {
  color: #d51100;
}

.left-blog h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
  padding: 15px 10px;
  text-transform: uppercase;
}

.left-blog {
  background: #f9f9f9 none repeat scroll 0 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 20px;
}

.left-blog li {
  border-bottom: 1px solid #ddd;
  display: block;
}

.left-blog ul li a {
  color: #444;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-transform: capitalize;
}

.recent-single-post {
  border-bottom: 1px solid #ddd;
  display: block;
  overflow: hidden;
  padding: 15px 10px;
}

.ready-btn {
  border: 1px solid #fff;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 222;
}

.ready-btn:hover {
  color: #fff;
  background: #d51100 !important;
  border: 1px solid #d51100 !important;
  text-decoration: none;
}

.post-img {
  display: inline-block;
  float: left;
  padding: 0 5px;
  width: 35%;
}

.pst-content {
  display: inline-block;
  float: left;
  width: 65%;
}

.pst-content p a:hover,
.left-blog ul li a:hover {
  color: #d51100;
}

.blog-page .single-blog {
  margin-bottom: 40px;
}

.pst-content p a {
  color: #444;
  font-size: 15px;
}

.header-bottom h1,
.header-bottom h2 {
  color: #fff;
}

.blog-tags {
  padding: 1px 0;
}

.left-blog li:last-child {
  border-bottom: 0;
}

.popular-tag.left-blog ul li a:hover {
  color: #fff;
}

.popular-tag.left-side-tags.left-blog ul {
  padding: 0 10px;
}

.blog-1 .banner-box {
  margin-bottom: 30px;
}

.left-tags .left-side-tags ul li {
  border-bottom: 0;
}

.left-tags .left-side-tags ul li a {
  padding: 3px 10px;
  width: auto;
}

.left-side-tags h4 {
  margin-bottom: 15px;
}

/*----------------------------------------*/

/*  19.	Blog Details css
/*----------------------------------------*/

.post-information h2 {
  color: #444;
  text-transform: uppercase;
}

.entry-content h2 {
  font-size: 25px;
}

.post-information {
  padding: 20px 0;
}

.post-information .entry-meta span a {
  color: #444;
  display: inline-block;
  padding: 10px 0;
}

.entry-meta span a:hover {
  color: #d51100;
}

.post-information .entry-meta {
  border-bottom: 1px solid #ccc;
  margin: 0px 0 20px;
}

.post-information .entry-meta span i {
  padding: 0 10px;
}

.entry-img-frame {
  margin: 20px auto;
  text-align: center;
}

.entry-content > p {
  color: #444;
}

.entry-meta > span {
  color: #444;
}

.entry-content blockquote {
  background: #fff none repeat scroll 0 0;
  border-right: 5px solid #d51100;
  border-left: 5px solid #e83328;
  font-size: 17.5px;
  font-style: italic;
  margin: 0 0 20px 40px;
  padding: 22px 45px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #d51100;
  border-color: #d51100;
  color: #fff;
  cursor: default;
  z-index: 3;
}

.social-sharing {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  display: block;
  margin: 30px 0;
}

.social-sharing > h3 {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 20px 10px;
}

.sharing-icon {
  display: inline-block;
  float: right;
  padding: 13px 10px;
}

.sharing-icon a {
  border: 1px solid #444;
  color: #444;
  display: block;
  float: left;
  font-size: 18px;
  height: 34px;
  line-height: 30px;
  margin-left: 10px;
  text-align: center;
  width: 34px;
}

.sharing-icon a:hover {
  color: #d51100;
  border: 1px solid #d51100;
}

.single-blog .author-avatar {
  float: left;
  margin-right: 10px;
}

.single-blog .author-description h2 {
  font-size: 18px;
  margin: 0;
  padding: 0 0 5px;
}

.author-info {
  background: #fff none repeat scroll 0 0;
  float: left;
  margin: 30px 0;
  padding: 15px;
  width: 100%;
}

.single-post-comments {
  margin-bottom: 60px;
}

li.nav-item {
  width: 24.8%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comments-heading h3,
h3.comment-reply-title {
  border-bottom: 1px solid #e8e8e9;
  color: #444;
  font-size: 18px;
  margin: 0 0 20px;
  padding: 0 0 5px;
  text-transform: uppercase;
}

.comments-list ul li {
  margin-bottom: 25px;
}

.comments-list-img {
  float: left;
  margin-right: 15px;
}

.comments-content-wrap {
  color: #42414f;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 15px 80px;
  padding: 10px;
  position: relative;
}

.author-avatar {
  display: inline-block;
  float: left;
  width: 10%;
}

.author-description h2 {
  color: #777;
  font-size: 20px;
  text-transform: uppercase;
}

.author-description h2 a {
  color: #000;
}

.comments-content-wrap span b {
  margin-right: 5px;
}

span.post-time {
  margin-right: 5px;
}

.comments-content-wrap p {
  color: #909295;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
}

li.threaded-comments {
  margin-left: 50px;
}

.comment-respond {
  margin-top: 60px;
}

span.email-notes {
  color: #42414f;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.comment-respond p {
  color: #444;
  margin-bottom: 5px;
}

.comment-respond input[type=text],
.comment-respond input[type=email] {
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
  padding: 0 0 0 10px;
  width: 100%;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  outline: none;
  padding: 8px 20px;
}

.comment-respond textarea#message-box {
  border: 1px solid #e5e5e5;
  border-radius: 0;
  max-width: 100%;
  padding: 10px;
  height: 130px;
  width: 100%;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  outline: none;
  padding: 8px 20px;
}

.comment-respond input[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #d51100;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #d51100;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 14px;
  margin-top: 20px;
  padding: 10px 15px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.comments-content-wrap span a {
  color: #000;
}

.comments-content-wrap span a:hover {
  color: #d51100;
}

.comment-respond input[type=submit]:hover {
  border: 1px solid #d51100;
  color: #fff;
  background: #d51100;
}

.single-blog .blog-pagination {
  border-top: 1px solid #e5e5e5;
  margin: 0;
  padding-top: 30px;
}

@media (min-width: 1920px) {
  .work-right-text {
    padding: 150px 150px;
  }
}

/* fix some views. */

@media only screen and (min-width: 992px) and (max-width: 1230px) {
  .main-menu ul.navbar-nav li a.dropdown-item.save-length {
    font-size: 13px;
    letter-spacing: -1px;
  }
}

/* All screen but small. */

@media (min-width: 767px) {
  .full-dropdown-menu.show {
    position: fixed;
    top: initial;
    left: 5%;
    right: 5%;
    width: initial !important;
    padding: 0px 20px;
    opacity: 1;
  }
}

/* Normal desktop :992px. */

@media only screen and (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 146px 0;
  }

  .work-right-text {
    padding: 40px 0;
  }

  .work-right-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Big Screen :992px. */

@media (min-width: 768px) and (max-width: 1200px) {
  .project-dec .center-div img {
    width: 30px;
    height: 30px;
  }

  .project-dec .center-div h4 {
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: -3px;
  }

  .project-dec .center-div span {
    font-size: 10px;
  }

  .area-item-wrapper {
    min-height: 103px;
  }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul.navbar-nav li {
    display: inline-block;
    padding: 0 8px;
  }

  .layer-1-2 h2 {
    font-size: 20px;
  }

  .layer-1-1 h1 {
    font-size: 31px;
    line-height: 38px;
    padding: 0px 30px;
  }

  .stick .main-menu ul.navbar-nav li a {
    padding: 24px 0px;
  }

  .tab-menu ul.nav li a {
    padding: 10px 16px;
  }

  .suscribe-input input {
    width: 60%;
  }

  .suscribe-input button {
    width: 40%;
  }

  .team-content.text-center > h4 {
    font-size: 20px;
  }

  .sus-btn {
    margin-left: 0;
  }

  .suscribe-text h3 {
    font-size: 16px;
    padding-right: 20px;
  }

  .work-right-text h5 {
    font-size: 14px;
    line-height: 22px;
  }

  .work-right-text {
    padding: 36px 0;
  }

  .work-right-text h2 {
    font-size: 14px;
    line-height: 22px;
  }

  .work-right-text .ready-btn {
    font-size: 13px;
    padding: 7px 20px;
    margin-top: 5px;
  }

  .single-awesome-portfolio {
    width: 33.33%;
  }

  .widget-product a img {
    display: block;
    float: none;
    width: 100%;
  }

  .widget-product .product-info {
    display: block;
    float: none;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  .map-column {
    margin-left: 0;
    padding-right: 40px;
  }

  .post-information .entry-meta {
    font-size: 13px;
    padding: 5px 0;
  }

  .post-information .entry-meta span a {
    padding: 4px 0;
  }

  .service-pic {
    margin-bottom: 30px;
    text-align: center;
  }

  .single-add-itms {
    width: 50%;
  }

  .left-sidebar-title > h4 {
    font-size: 18px;
  }

  .contact-form {
    margin-top: 0px;
  }

  .search-option input {
    width: 67%;
  }
}

/* small mobile :320px. */

@media (max-width: 767px) {
  .header-area {
    height: 60px !important;
    background: white;
  }

  .navbar-header a.navbar-brand,
  .stick .navbar-header a.navbar-brand {
    display: inline-block;
    height: 60px  !important;
    padding: 9px 0;
  }

  .navbar-default .navbar-toggle,
  .stick .navbar-default .navbar-toggle {
    padding: 15px 0;
  }

  .nav.navbar-nav.navbar-right,
  .stick .nav.navbar-nav.navbar-right {
    background-color: white;
    padding: 0;
    margin-top: 0;
    -webkit-box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
            box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
    max-height: 450px;
    overflow-y: scroll;
  }

  .main-menu ul.navbar-nav li,
  .stick .main-menu ul.navbar-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-menu ul.navbar-nav li a,
  .stick .main-menu ul.navbar-nav li a {
    padding: 10px 2px;
    color: #0e2232;
  }

  .main-menu ul.navbar-nav li.active a,
  .stick .main-menu ul.navbar-nav li.active a {
    color: #d51100;
  }

  .main-menu ul.navbar-nav li.active a:hover,
  .main-menu ul.navbar-nav li.active a:focus {
    color: #d51100;
  }

  .main-menu ul.navbar-nav li.active a.page-scroll::after,
  .stick .main-menu ul.navbar-nav li.active a.page-scroll::after {
    border: none;
  }

  .item-parent {
    text-align: left;
  }

  .logo {
    height: inherit;
    left: 0;
    padding: 6px;
    position: absolute;
    top: 0px;
    z-index: 999999;
  }

  .logo a {
    padding: 0;
  }

  img.item-icon {
    width: 35px;
  }

  .dropdown-menu.show {
    width: 100% !important;
    position: initial;
    padding-bottom: 10px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

  .slider-area {
    margin-top: 60px;
  }

  .slider-content h2 {
    font-size: 15px !important;
    line-height: 24px !important;
  }

  .slider-content h1 {
    font-size: 25px !important;
    line-height: 26px !important;
  }

  .layer-1-3 a.ready-btn {
    padding: 8px 15px;
  }

  .section-headline h2 {
    font-size: 30px;
  }

  .well-middle .single-well {
    margin-top: 30px;
  }

  .single-skill {
    margin-bottom: 40px;
  }

  .tab-menu {
    margin-top: 30px;
  }

  .tab-menu ul.nav li a {
    padding: 8px 6px;
  }

  .wellcome-text {
    margin: 0px;
    padding: 70px 0px;
  }

  .subs-feilds {
    width: 100%;
  }

  .suscribe-input input {
    width: 60%;
  }

  .suscribe-input button {
    font-size: 15px;
    padding: 14px 10px;
    width: 40%;
  }

  .section-headline h3 {
    font-size: 25px;
  }

  .well-text > h2 {
    font-size: 18px;
  }

  .well-text p {
    display: none;
  }

  .single-team-member {
    margin-bottom: 30px;
  }

  .service-right {
    width: 100%;
  }

  .service-images:hover .overly-text {
    display: none;
  }

  .portfolio-area {
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .project-menu li a {
    padding: 8px 12px;
    margin: 10px 4px;
  }

  .pri_table_list {
    margin-bottom: 30px;
  }

  .single-awesome-project,
  .portfolio-2 .single-awesome-project {
    width: 100%;
    float: none;
  }

  .single-blog {
    margin-bottom: 30px;
  }

  .sus-btn {
    margin-left: 0;
    margin-top: 30px;
  }

  .contact-form {
    margin-top: 30px;
  }

  .head-team h5 {
    font-size: 22px;
  }

  .footer-content {
    margin-bottom: 30px;
  }

  .header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  .page-area .slider-content {
    padding: 100px 0;
  }

  .search-option input {
    width: 74%;
  }

  .header-bottom h2 {
    font-size: 20px;
    margin-bottom: 0;
  }

  li.threaded-comments {
    margin-left: 0;
  }

  article.blog-post-wrapper {
    margin-top: -50px;
    border-top-left-radius: 50px;
  }

  li.nav-item {
    width: 100%;
  }

  .singleSlider {
    max-height: 150px;
    min-height: 150px;
  }

  .awesome-img > a {
    height: 280px;
  }

  .area-item-wrapper {
    min-height: initial;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .submitbtn {
    float: none;
    width: 99.8%;
  }

  .icons-bottom ul li a {
    height: 40px;
    line-height: 37px;
    width: 40px;
  }

  .blog-post-dlc ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

  .awesome-portfolio-content .portfolio-2 {
    width: 50%;
  }

  .gallary-details .single-awesome-portfolio {
    width: 50%;
  }

  .tab-menu ul.nav li a {
    padding: 8px 20px;
  }
}

body {
  margin: 0;
  color: #0e2232;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.logo {
  width: 80px;
}

.footer-content-fix {
  margin-bottom: 30px;
}

.two-side-rounded {
  border-bottom-right-radius: 60%;
  border-top-left-radius: 60%;
}

.two-side-rounded-prod {
  border-radius: 10%;
}

.two-side-rounded-fixed {
  border-radius: 20px;
}

.two-side-rounded-2 {
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}

.rounded {
  border-radius: 10px;
}

.Tilt {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.Tilt-inner {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.Tilt-inner-min {
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}

.fit-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.footer-icons ul li a.facebook:hover {
  background: #4267b2;
  border: 1px solid #4267b2;
}

.footer-icons ul li a.twitter:hover {
  background: #1da1f2;
  border: 1px solid #1da1f2;
}

.loading {
  height: 500px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-menu.show {
  width: 200px;
  border: none;
  -webkit-box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096);
          box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096);
}

img.menu-flag {
  width: 30px;
  margin-top: -6px;
  margin-right: 6px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
}

.main-menu ul.navbar-nav li a.dropdown-item {
  width: 100%;
  font-weight: 400;
  color: #212529;
  white-space: nowrap;
}

.main-menu ul.navbar-nav li a.dropdown-item:hover {
  color: #d51100;
}

.main-menu ul.navbar-nav li a.dropdown-item.active {
  color: #d51100;
}

.menu-lang li a {
  padding: 16px 0px !important;
}

.dropdown-submenu {
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  width: 100% !important;
  position: initial;
  padding-bottom: 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dropdown-item {
  display: inline-block;
}

.soft-shadow {
  -webkit-box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
          box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
}

.nav-pills > li > a {
  border-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.tab-content {
  border: none;
}

.entry-content h1 {
  font-size: 24px;
  text-transform: uppercase;
}

.entry-content h3 {
  font-size: 22px;
}

.entry-content h4 {
  font-size: 20px;
}

.entry-content h5 {
  font-size: 18px;
}

.entry-content h6 {
  font-size: 16px;
}

.content-text {
  color: #444;
}

.content-text ul li {
  margin: 0 0 6px;
}

.content-text ul li::before {
  color: #d51100;
  padding-right: 10px;
  font-size: 12px;
  content: "\F00C";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-top: 5px;
}

