@media (min-width: 1920px) {
  .work-right-text {
    padding: 150px 150px;
  }
}

/* fix some views. */

@media only screen and (min-width: 992px) and (max-width: 1230px) {
  .main-menu ul.navbar-nav li a.dropdown-item.save-length {
    font-size: 13px;
    letter-spacing: -1px;
  }
}

/* All screen but small. */

@media (min-width: 767px) {
  .full-dropdown-menu.show {
    position: fixed;
    top: initial;
    left: 5%;
    right: 5%;
    width: initial !important;
    padding: 0px 20px;
    opacity: 1;
  }
}

/* Normal desktop :992px. */

@media only screen and (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 146px 0;
  }
  .work-right-text {
    padding: 40px 0;
  }
  .work-right-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Big Screen :992px. */

@media (min-width: 768px) and (max-width: 1200px) {
  .project-dec .center-div img {
    width: 30px;
    height: 30px;
  }

  .project-dec .center-div h4 {
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: -3px;
  }

  .project-dec .center-div span {
    font-size: 10px;
  }

  .area-item-wrapper {
    min-height: 103px;
  }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul.navbar-nav li {
    display: inline-block;
    padding: 0 8px;
  }
  .layer-1-2 h2 {
    font-size: 20px;
  }
  .layer-1-1 h1 {
    font-size: 31px;
    line-height: 38px;
    padding: 0px 30px;
  }
  .stick .main-menu ul.navbar-nav li a {
    padding: 24px 0px;
  }
  .tab-menu ul.nav li a {
    padding: 10px 16px;
  }
  .suscribe-input input {
    width: 60%;
  }
  .suscribe-input button {
    width: 40%;
  }
  .team-content.text-center>h4 {
    font-size: 20px;
  }
  .sus-btn {
    margin-left: 0;
  }
  .suscribe-text h3 {
    font-size: 16px;
    padding-right: 20px;
  }
  .work-right-text h5 {
    font-size: 14px;
    line-height: 22px;
  }
  .work-right-text {
    padding: 36px 0;
  }
  .work-right-text h2 {
    font-size: 14px;
    line-height: 22px;
  }
  .work-right-text .ready-btn {
    font-size: 13px;
    padding: 7px 20px;
    margin-top: 5px;
  }
  .single-awesome-portfolio {
    width: 33.33%;
  }
  .widget-product a img {
    display: block;
    float: none;
    width: 100%;
  }
  .widget-product .product-info {
    display: block;
    float: none;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .map-column {
    margin-left: 0;
    padding-right: 40px;
  }
  .post-information .entry-meta {
    font-size: 13px;
    padding: 5px 0;
  }
  .post-information .entry-meta span a {
    padding: 4px 0;
  }
  .service-pic {
    margin-bottom: 30px;
    text-align: center;
  }
  .single-add-itms {
    width: 50%;
  }
  .left-sidebar-title>h4 {
    font-size: 18px;
  }
  .contact-form {
    margin-top: 0px;
  }
  .search-option input {
    width: 67%;
  }
}

/* small mobile :320px. */

@media (max-width: 767px) {

  .header-area {
    height: 60px !important;
    background: $header-stick-back;
  }
  .navbar-header a.navbar-brand, .stick .navbar-header a.navbar-brand {
    display: inline-block;
    height: 60px  !important;
    padding: 9px 0;
  }
  .navbar-default .navbar-toggle, .stick .navbar-default .navbar-toggle {
    padding: 15px 0;
  }
  .nav.navbar-nav.navbar-right, .stick .nav.navbar-nav.navbar-right {
    background-color: $header-stick-back;
    padding: 0;
    margin-top: 0;
    box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
    max-height: 450px;
    overflow-y: scroll;
  }
  .main-menu ul.navbar-nav li, .stick .main-menu ul.navbar-nav li {
    display: flex;
  }
  .main-menu ul.navbar-nav li a, .stick .main-menu ul.navbar-nav li a {
    padding: 10px 2px;
    color: $header-stick-color;
  }
  .main-menu ul.navbar-nav li.active a, .stick .main-menu ul.navbar-nav li.active a {
    color: $t-major-red;
  }
  .main-menu ul.navbar-nav li.active a:hover, .main-menu ul.navbar-nav li.active a:focus {
    color: $t-major-red;
  }
  .main-menu ul.navbar-nav li.active a.page-scroll::after, .stick .main-menu ul.navbar-nav li.active a.page-scroll::after {
    border: none;
  }
  .item-parent {
    text-align: left;
  }
  .logo {
    height: inherit;
    left: 0;
    padding: 6px;
    position: absolute;
    top: 0px;
    z-index: 999999;
  }
  .logo a {
    padding: 0;
  }

  img.item-icon {
    width: 35px;
  }

  .dropdown-menu.show {
    width: 100% !important;
    position: initial;
    padding-bottom: 10px;
    box-shadow: none !important;
  }

  .slider-area {
    margin-top: 60px;
  }

  .slider-content h2 {
    font-size: 15px !important;
    line-height: 24px !important;
  }
  .slider-content h1 {
    font-size: 25px !important;
    line-height: 26px !important;
  }

  .layer-1-3 a.ready-btn {
    padding: 8px 15px;
  }
  .section-headline h2 {
    font-size: 30px;
  }
  .well-middle .single-well {
    margin-top: 30px;
  }
  .single-skill {
    margin-bottom: 40px;
  }
  .tab-menu {
    margin-top: 30px;
  }
  .tab-menu ul.nav li a {
    padding: 8px 6px;
  }
  .wellcome-text {
    margin: 0px;
    padding: 70px 0px;
  }
  .subs-feilds {
    width: 100%;
  }
  .suscribe-input input {
    width: 60%;
  }
  .suscribe-input button {
    font-size: 15px;
    padding: 14px 10px;
    width: 40%;
  }
  .section-headline h3 {
    font-size: 25px;
  }
  .well-text>h2 {
    font-size: 18px;
  }
  .well-text p {
    display: none;
  }
  .single-team-member {
    margin-bottom: 30px;
  }
  .service-right {
    width: 100%;
  }
  .service-images:hover .overly-text {
    display: none;
  }
  .portfolio-area {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .project-menu li a {
    padding: 8px 12px;
    margin: 10px 4px;
  }
  .pri_table_list {
    margin-bottom: 30px;
  }
  .single-awesome-project, .portfolio-2 .single-awesome-project {
    width: 100%;
    float: none;
  }
  .single-blog {
    margin-bottom: 30px;
  }
  .sus-btn {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-form {
    margin-top: 30px;
  }
  .head-team h5 {
    font-size: 22px;
  }
  .footer-content {
    margin-bottom: 30px;
  }
  .header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .page-area .slider-content {
    padding: 100px 0;
  }
  .search-option input {
    width: 74%;
  }
  .header-bottom h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  li.threaded-comments {
    margin-left: 0;
  }
  article.blog-post-wrapper {
    margin-top: -50px;
    border-top-left-radius: 50px;
  }
  li.nav-item {
    width: 100%;
  }

  .singleSlider {
    max-height: 150px;
    min-height: 150px;
  }

  .awesome-img>a {
    height: 280px;
  }

  .area-item-wrapper {
    min-height: initial;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .submitbtn {
    float: none;
    width: 99.8%;
  }
  .icons-bottom ul li a {
    height: 40px;
    line-height: 37px;
    width: 40px;
  }
  .blog-post-dlc ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .awesome-portfolio-content .portfolio-2 {
    width: 50%;
  }
  .gallary-details .single-awesome-portfolio {
    width: 50%;
  }
  .tab-menu ul.nav li a {
    padding: 8px 20px;
  }
}
